.tab-component {
  padding-top: 15px;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tabs > li {
  padding: 0.5em 1em;
  margin: 2px;
}

.current {
  background: white;
  color: white;
  font-weight: bold;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  top: 2px;
}

.content {
  padding: 1em 2em;
}

.tab-bar {
  height: 32px;
  background: #6f8c94;
  border-radius: 4px;
  color: white;
  padding: 5px;
  margin-right: 3px;
}

.tab-bar-active {
  height: 32px;
  border-radius: 4px;
  color: white;
  padding: 5px;
  margin-right: 3px;
  background: #08464b;
  top: 5px;
}

.a-tag {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.tab-bar-inside {
  display: flex;
  justify-content: space-between;
}

.tab-label {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
}

@media screen and (max-width: 730px) {
  .tab-bar {
    width: 110px;
    height: 32px;
    background: #6f8c94;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin-right: 3px;
  }

  .tab-bar-active {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin-right: 3px;
    background: #08464b;
    top: 5px;
  }
  .tab-label {
    font-size: 10px;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1023px) {
  .tab-bar {
    width: 110px;
    height: 32px;
    background: #6f8c94;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin-right: 3px;
  }

  .tab-bar-active {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin-right: 3px;
    background: #08464b;
    top: 5px;
  }
  .tab-label {
    font-size: 10px;
  }
}
